.btn{
    background-color: #FF0585;
    padding: map-get($btn , paddin );
    color: black;
    border: map-get($btn , bordes );
    border-radius:map-get($btn , radio  );
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
