.btn {
    background-color: #FF0585;
    padding: 5px;
    color: black;
    border: 8px;
    border-radius: 15px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;     
}
