form input{
    padding: 4px 8px;
    border-radius: 4px;
    margin: 5px;
    border: 1px solid $colorPrimario;
    .mensaje {
        border-radius: 4px;
        border: 1px solid $colorPrimario;
    }
}