h1{
    text-align: center;    
    text-align: center;
    font-family:'Black And White Picture', sans-serif;
    font-family: 'Metal', cursive;
    font-family: 'Patrick Hand', cursive;
    font-family: 'Texturina', serif;
    font-family: 'Trochut', cursive; ;
    margin: 15px;
    @include encabezado(40px , dimgray ) 
    
}
