$colorPrimario: #FF0585 ;
$colorSecundario: #FF3CAC;
$colorterciario: rgb(195, 146, 238);

$colores:(
    primario:  #FF0585,
    secundario: rgb(141, 20, 211),
    terciario: rgba(0, 195, 255, 0.4),
);

$btn:(
    paddin: 5px,
    bordes: 8px,
    radio: 15px,
);

     
