@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Metal&family=Patrick+Hand&family=Texturina:opsz,wght@12..72,300&family=Trochut:ital@1&display=swap');

@import"reset";

@import"body";

@import"variables";

@import"navbar";

@import"pie";

@import"form";

@import"texto";

@import"btn";

@mixin encabezado($letra, $color) {
    font-size: $letra; 
    color:  $color;
}

@import"header";

@import"card";

@each $key, $var in $colores {
    .btn-#{$key}{
        @extend .btn;
        background-color: $var;
    }    
}
@media(max-width:478px){
    .navbar-brand img{
        margin-top:-15px;
    }   
    .navbar ul li{
        padding: 0px;
                      
    }
    .navbar ul li a {    
        color:$colorterciario;
        font-size: 24px; 
        padding: 2px;
        text-align: end;
    }
  }
  @media(max-width:478px){
    .pie{
        display: flex;
        justify-content:space-around;   
    }
    h3{
        font-size: 14px;
    }
    
}
@media(max-width:768px){
    .navbar-brand img{
      margin-top:-28%;
    }
    .navbar ul li{
      padding: 0px;                    
  }
    .navbar ul li a {    
      color:$colorterciario ;
      font-size: 30px; 
      padding: 2px;
      text-align: end;
      }
    .pie__imagen{
        display: flex;
    }  
    h3{
        font-size: 18px;
    }
}
  @media(max-width:992px){
      .navbar-brand img{
          margin-top:-10%;
        }
    
    
    
}
.testimonio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.testimonio__header{
    margin: 5px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testimonio__header h2{
    font-size: 45px;
    font-weight: 600 ;
    font-family:'Black And White Picture', sans-serif;
    font-family: 'Metal', cursive;
    font-family: 'Patrick Hand', cursive;
    font-family: 'Texturina', serif;
    font-family: 'Trochut', cursive; ;
    color:$colorPrimario ;
    
}
.mujer{
    width: 120px;
    
}
.hombre{
    width: 120px;
}
.loguin{
    width: 400px;
    height: 340px;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #c52b72 100%);
    margin: auto;
    margin-top: 100px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #e60aa4;
    color: white;

}
.loguin h5{
    margin: o;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}
.control{
    width: 100%;
    margin: 5px;
    padding: 8px;
    border: 1px solid #e60aa4;
    font-size: 14px;
    font-weight: bold;

}
.buttons{
    width: 100%;
    height: 40px;
    background-color: #c52b72;
    border: none;
    color: white;
    margin-bottom: 16px;

}
.loguin p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
}
.loguin a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.loguin a :hover{
    text-decoration: underline;
}

