@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Metal&family=Patrick+Hand&family=Texturina:opsz,wght@12..72,300&family=Trochut:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgba(195, 146, 238, 0.781);
}
.navbar {
    width: 100%;
    height: 80px;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #c52b72 100%);
    font-family:'Black And White Picture', sans-serif;
    font-family: 'Metal', cursive;
    font-family: 'Patrick Hand', cursive;
    font-family: 'Texturina', serif;
    font-family: 'Trochut', cursive; ;
    display: flex;
    justify-content: end
     
}
.collapse{
    display: flex;
    justify-content: end;
}

.navbar ul li {
   padding: 8px;

}
.navbar ul li a {    
    color: rgb(195, 146, 238);
    font-size: 24px; 
}
.navbar-brand img{ 
     
    width: 92px;
}

@media(max-width:478px){
    .navbar-brand img{
        margin-top:-18px;
    }    
}
h1{
    color:#FF0585 ;
    text-align: center;
    font-size: 40px;
    text-align: center;
    font-family:'Black And White Picture', sans-serif;
    font-family: 'Metal', cursive;
    font-family: 'Patrick Hand', cursive;
    font-family: 'Texturina', serif;
    font-family: 'Trochut', cursive; ;
    margin: 15px;
}
.texto{
    font-family:'Black And White Picture', sans-serif;
    font-family: 'Metal', cursive;
    font-family: 'Patrick Hand', cursive;
    font-family: 'Texturina', serif;
    font-family: 'Trochut', cursive; ;
    color:#FF0585 ;
    font-size: 24px;
}
.pie {
    width: 100%;
    height: 60px;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #c52b72 100%);
    display: flex;
    justify-content: center
}
.pie__titulo {
    font-size: 12px;
    padding: 15px;
    margin: 3px;
    color: rgb(195, 146, 238);
    font-family:'Black And White Picture', sans-serif;
    font-family: 'Metal', cursive;
    font-family: 'Patrick Hand', cursive;
    font-family: 'Texturina', serif;
    font-family: 'Trochut', cursive; ;
    text-align: center;
}
.pie__imagen {
    padding: 15px;
}
@media(max-width:478px){
    .pie{
        display: flex;
        justify-content:space-around;   
    }
    h3{
        font-size: 14px;
    }
    .pie__imagen{
        display: flex;
    }  
}
.texto1{
    font-family:'Black And White Picture', sans-serif;
    font-family: 'Metal', cursive;
    font-family: 'Patrick Hand', cursive;
    font-family: 'Texturina', serif;
    font-family: 'Trochut', cursive; ;
    color:#FF0585 ;
    line-height: 35px;
}
@media(min-width:768px){
  .navbar-brand img{
    margin-top: -17px;
  }
}
form input {
    padding: 4px 8px;
    border-radius: 4px;
    margin: 5px;
    border: 1px solid #FF0585;
}
.mensaje {
    border-radius: 4px;
    border: 1px solid #FF0585;
}







