@import url("https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Metal&family=Patrick+Hand&family=Texturina:opsz,wght@12..72,300&family=Trochut:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(195, 146, 238, 0.781);
}

.navbar {
  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #c52b72 100%);
  font-family: "Black And White Picture", sans-serif;
  font-family: "Metal", cursive;
  font-family: "Patrick Hand", cursive;
  font-family: "Texturina", serif;
  font-family: "Trochut", cursive;
  display: flex;
  justify-content: end;
}
.navbar ul li :hover {
  transform: translate(20px 20px);
  padding: 15px;
}
.navbar ul li a {
  color: rgb(195, 146, 238);
  font-size: 24px;
}
.navbar img {
  width: 62px;
}

.collapse {
  display: flex;
  justify-content: end;
}

.pie {
  width: 100%;
  height: 60px;
  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #c52b72 100%);
  display: flex;
  justify-content: center;
}
.pie .pie__titulo {
  font-size: 12px;
  padding: 15px;
  margin: 3px;
  color: rgb(195, 146, 238);
  font-family: "Black And White Picture", sans-serif;
  font-family: "Metal", cursive;
  font-family: "Patrick Hand", cursive;
  font-family: "Texturina", serif;
  font-family: "Trochut", cursive;
  text-align: center;
}
.pie .pie__imagen {
  padding: 15px;
}

form input {
  padding: 4px 8px;
  border-radius: 4px;
  margin: 5px;
  border: 1px solid #FF0585;
}
form input .mensaje {
  border-radius: 4px;
  border: 1px solid #FF0585;
}

.texto {
  font-family: "Black And White Picture", sans-serif;
  font-family: "Metal", cursive;
  font-family: "Patrick Hand", cursive;
  font-family: "Texturina", serif;
  font-family: "Trochut", cursive;
  color: #FF0585;
  font-size: 24px;
}

.texto1 {
  font-family: "Black And White Picture", sans-serif;
  font-family: "Metal", cursive;
  font-family: "Patrick Hand", cursive;
  font-family: "Texturina", serif;
  font-family: "Trochut", cursive;
  color: #FF0585;
  line-height: 35px;
}

.btn, .btn-terciario, .btn-secundario, .btn-primario {
  background-color: #FF0585;
  padding: 5px;
  color: black;
  border: 8px;
  border-radius: 15px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #FF0585;
  text-align: center;
  font-size: 40px;
  text-align: center;
  font-family: "Black And White Picture", sans-serif;
  font-family: "Metal", cursive;
  font-family: "Patrick Hand", cursive;
  font-family: "Texturina", serif;
  font-family: "Trochut", cursive;
  margin: 15px;
}

.card {
  border: 2px solid #FF0585;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(202, 165, 235, 0.61);
  display: flex;
  justify-content: center;
}
.card h5 {
  font-size: 24px;
  color: #FF0585;
  margin: 5px 0px;
  font-family: "Black And White Picture", sans-serif;
  font-family: "Metal", cursive;
  font-family: "Patrick Hand", cursive;
  font-family: "Texturina", serif;
  font-family: "Trochut", cursive;
  text-align: center;
}

.card-text {
  text-align: center;
  font-family: "Black And White Picture", sans-serif;
  font-family: "Metal", cursive;
  font-family: "Patrick Hand", cursive;
  font-family: "Texturina", serif;
  font-family: "Trochut", cursive;
  text-align: center;
  font-size: 18px;
}

.btn-primario {
  background-color: #FF0585;
}

.btn-secundario {
  background-color: rgb(141, 20, 211);
}

.btn-terciario {
  background-color: rgba(0, 195, 255, 0.4);
}

@media (max-width: 478px) {
  .navbar-brand img {
    margin-top: -15px;
  }
  .navbar ul li {
    padding: 0px;
  }
  .navbar ul li a {
    color: rgb(195, 146, 238);
    font-size: 24px;
    padding: 2px;
    text-align: end;
  }
}
@media (max-width: 478px) {
  .pie {
    display: flex;
    justify-content: space-around;
  }
  h3 {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .navbar-brand img {
    margin-top: -28%;
  }
  .navbar ul li {
    padding: 0px;
  }
  .navbar ul li a {
    color: rgb(195, 146, 238);
    font-size: 30px;
    padding: 2px;
    text-align: end;
  }
  .pie__imagen {
    display: flex;
  }
  h3 {
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  .navbar-brand img {
    margin-top: -10%;
  }
}