@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Metal&family=Patrick+Hand&family=Texturina:opsz,wght@12..72,300&family=Trochut:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color:#ebb1cc9d;;
}
.navbar {
    width: 100%;
    height: 80px;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #c52b72 100%);
    display: flex;
    justify-content: end
     
}
.collapse{
    display: flex;
    justify-content: end;
}

.navbar ul li {
   padding: 8px;

}
.navbar ul li a {    
    color: rgb(195, 146, 238);
    font-size: 24px; 
}
.navbar-brand img{ 
       
    width: 92px;
}

@media(max-width:478px){
    .navbar-brand img{
        margin-top:-18px;
    }    
}


